
<div class="container">

<nav class="navbar navbar-expand-lg navbar-dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="#"><img src="assets/images/logo.png"><span class="log"> Winter Tour</span></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarColor01">
      <ul class="navbar-nav me-auto">
        <li class="nav-item">
          <a class="nav-link active" href="#">Home
            <span class="visually-hidden">(current)</span>
          </a>
        </li>
       <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" id="about" data-bs-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">About</a>
          <div class="dropdown-menu">
            <a class="dropdown-item" href="#">Action1</a>
            <a class="dropdown-item" href="#">Another action2</a>
            <a class="dropdown-item" href="#">Something else here3</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="#">Separated link</a>
          </div>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Hot Tours</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Blog</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Shedule</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#" id="gal">Gallery</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Contacts</a>
        </li>
      </ul>
      
    </div>
  </div>
</nav>
    
</div>
<div class="main_cont">
    <div class="hed_cont">
        <h1>We are your ultimate
        Winter experience Provider!</h1>
        <p>With hundreds of winter holiday destinations offered, we are your
natural choice for planning it all out!</p>
    </div>
</div>
